@import '~ant-design-vue/dist/antd.less';


@border-radius-base:8px;
@border-radius-sm: 8px;
@font-size-base: 16px;
@font-size-lg: @font-size-base + 2px;
@font-size-sm: 12px;

h1{
  font-size: 3.05rem;
}
h2{
  font-size:2.44rem;
}
h3{
  font-size: 1.95rem;
}
h4{
  font-size:1.56rem;
}
h5{
  font-size: 1.25rem;
}

body, span, div{
  font-size:16px;
}

img{
  max-width: 100%;
  height:auto;
}

.text-elipsis{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.operator-label{
  color: @blue-6;
}
.ant-layout-content {
  padding: 50px 50px;
}
.ant-layout-header{
  display: flex;
  align-items:center;
  justify-content: space-between;
  background: #FFF;
}

:root{
  --blue-1: @blue-1;
  --blue-2: @blue-2;
  --blue-3: @blue-3;
  --blue-4: @blue-4;
  --blue-5: @blue-5;
}